body{
  background: black;
  display: flex;
  justify-content: center;
}

.wrapper_sign_in_up {
  max-width: 275px;
}

.wrapper {
  max-width: 1200px;
}

.center-h {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 30%;
}

.inline {
  display: inline-block;
}

.fixed{
  position: fixed;
}

.center-v{
  align-items: center; 
}

