<% flash.each do |key, value| %>
  <div class="center-h mt-sm">
    <div class="inline bg-w cl-b text-sm fixed pd-5-10">
      <%= value %>

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-10 w-6 h-6 " width="17" height="17">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </div>
  </div>
<% end %>